@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

:root {
  --skin-color-hard: #FFB9B9;
  --skin-color-soft: #FFDDD2;
  --pink-color-normal: #FFACC7;
  --pink-color-hard: #FF8DC7;
  --pink-color-soft: #FDCEDF;
  --white-pink-color: #F9F5F6;
  --blue-color-soft: #DDF3F5;
  --blue-color-hard: #A6DCEF;
  --form-control-color: rebeccapurple;
  --font-title-home: 'Chewy', cursive;
}

html{
  scroll-behavior: smooth;
}


* {
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
}

/* ====== GENERALS ===== */
.title-section {
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  color: black;
}

.subtitle-section {
  font-size: 25px;
  margin-top: 1%;
  text-align: center;
  color: black;
}

.card-img-top {
  height: 400px;
}
/* ====== END GENERALS ===== */


/*====== NAVBAR ======*/
header {
  width: 100%;
  height: 100px;
  background-color: var(--skin-color-hard);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.logo-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 80px;
}

.text-logo {
  margin-bottom: 0px;
  font-weight: bolder;
  font-size: 20px;
}

.icon-bars {
  display: none;
  font-size: 25px;
}

.nav-bar.active {
  width: 100%;;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: black;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  background-color: var(--blue-color-soft);
}

.nav-bar ul li a.active {
  background-color: var(--blue-color-soft);
}

.ul-navbar {
  margin-bottom: 0px;
}

.ul-navbar a {
  text-decoration: none !important;
  font-weight: bolder;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 1030px) {
  .icon-bars {
    display: block;
    cursor: pointer;
  }

  .nav-bar {
    height: 0px;
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    width: 100%;
    background: var(--blue-color-hard);
    overflow: hidden;
    transition: 0.5s;
    z-index: 1000;
  }

  .nav-bar.active {
    height: 450px;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar ul li a {
    margin-bottom: 10%;
  }
  
  .nav-bar ul li a.active {
    background-color: var(--pink-color-soft);
  }

  .nav-bar ul li a:hover {
    background-color: var(--pink-color-soft);
  }

}
/*====== END NAVBAR ======*/

/* ==== HOME ==== */
#Home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/home-background.png);
  background-attachment: fixed;
  background-size: cover;
}

.title-home {
  font-family: var(--font-title-home);
  font-size: 130px;
  color: var(--pink-color-hard);
  text-shadow: 10px 10px 0px black;
}

.subtitle-container-home {
  display: flex;
  justify-content: center;
}

.subtitle-home {
  background-color: var(--blue-color-hard);
  width: fit-content;
  padding: 1%;
  margin: 2%;
  border-radius: 10px;
}

.info-container-home {
  width: 100%;
  text-align: center;
}

.img-container-home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--skin-color-soft);
  clip-path: circle(90% at 100%);
}

.img-container-home img {
  width: 500px;
  height: 500px;
}

.btn-container-home {
  display: flex;
  justify-content: center;
}

.btn-home {
  background-color: #25D366;
  padding: 15px;
  border-radius: 25px;
  width: fit-content;
}

.btn-home a {
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-btn-home {
  font-size: 40px;
}

@media only screen and (max-width: 730px) {
  .logo-img {
    width: 65px;
  }

  .text-logo {
    font-size: 18px;
  }

  .title-home {
    font-size: 85px;
    margin: 2%;
  }

  .subtitle-home {
    font-size: 20px;
  }
}

@media only screen and (max-width: 460px) {
  .logo-img {
    width: 60px;
  }

  .text-logo {
    font-size: 15px;
  }

  .title-home {
    font-size: 70px;
    margin: 1%;
  }
  
  .btn-container-home {
    margin-top: 2%;
  }

  .btn-home {
    padding: 10px;
  }

  .btn-home a {
    font-size: 15px;
    gap: 5px;
  }

  .fa-whatsapp {
    font-size: 35px;
  }
}
/* ==== END HOME ==== */

/* ==== SERVICES ==== */
#Services {
  height: 100%;
  padding: 2%;
}

.services-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4%;
  border-radius: 25px;
  padding: 1%;
  background-color: var(--skin-color-soft);
}

.card {
  position: relative;
  width: 18rem;
  height: 400px;
  margin: 1.5%;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, .4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.card .back .services-price {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .services-price p {
  color: #f3f3f3;
  font-size: 25px;
}

.card .back h3 {
  font-size: 25px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
/* ==== END SERVICES ==== */

/* ==== GALERY ==== */

#Galery {
  height: 100%;
}

.div-carousel {
  height: 600px;
  margin-top: 3%;
  margin-bottom: 2%;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

main #carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  background-size: cover;
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-image: url(../img/galery1.png);
}
div.item:nth-of-type(2) {
  --offset: 2;
  background-image: url(../img/galery2.jpg);
}
div.item:nth-of-type(3) {
  --offset: 3;
  background-image: url(../img/galery3.jpg);
}
div.item:nth-of-type(4) {
  --offset: 4;
  background-image: url(../img/galery4.jpg);
}
div.item:nth-of-type(5) {
  --offset: 5;
  background-image: url(../img/galery5.jpg);
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}

.form-control:focus-within {
  color: var(--pink-color-hard);
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--pink-color-normal);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

/* ==== END GALERY ==== */

/* ==== CLIENTS ==== */
#Reviews {
  height: 100%;
}

.review-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
  flex-wrap: wrap;
}

.review-card {
  width: 500px;
  border: 2px pink solid;
  text-align: center;
  padding: 1.5%;
  margin: 1%;
}

.review-name-card, .review-text-card {
  margin-bottom: 4%;
}

.quotation-marks {
  font-size: 40px;
  margin-bottom: 2%;
}

.review-img-card{
  width: 200px;
  height: 200px;
  background-image: url("https://images.ctfassets.net/4ck2s8k0bkzh/K0kijxqhg6kVolCi7nAOX/f702e033e509b0571a3fe3cf6e91bc8b/Banner-Tablet.jpg");
  background-size: cover;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 4%;
}

.stars-icons i {
  font-size: 30px;
  color: gold;
  margin-bottom: 4%;
}
/* ==== END CLIENTS ==== */

/* ==== CONTACT ==== */

#Contact {
  height: 100%;
}

.contact-logo-container {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  background: antiquewhite;
}

.contact-logo {
  width: 200px;
  height: 200px;
}

.contact-container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  gap: 10%;
  flex-wrap: wrap;
}

.contact-info {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  background-color: var(--pink-color-soft);
  border-radius: 10%;
  padding: 1.5%;
  text-align: center;
  word-wrap: break-word;
  margin: 1.5%;
  transition: all 0.4s ease;
}

.contact-info:hover {
  cursor: pointer;
  color: var(--white-pink-color);
  background-color: var(--pink-color-hard);
  box-shadow: 0 4px 16px var(--skin-color-hard);
}

.icon-contact-whats {
  color: #25D366;
  font-size: 60px;
}

.icon-contact-email {
  font-size: 60px;
  color: rgb(163, 44, 44);
}

.icon-contact-insta {
  font-size: 60px;
  color: #E1306C;
}

.contact-title-card {
  margin-top: 6%;
  font-size: 22px;
}

.contact-text {
  margin-top: 2%;
  font-size: 25px;
  color: black;
}

.contact-map-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.contact-map {
  border-radius: 25px;
  margin: 2%;
}

/* ==== END CONTACT ==== */

/* ==== FOOTER ==== */

.footer {
  background:var(--skin-color-soft);
  padding: 30px 0px;
  text-align: center;
}

.footer .row {
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:black;
  font-size: 15px;
}

.footer .row a{
  text-decoration:none;
  color:black;
  transition:0.5s;
}

.footer .row a:hover{
  color:#fff;
}

.footer .row ul{
  width:100%;
}

.footer .row ul li{
  display:inline-block;
  margin:0px 30px;
}

.footer .row a i{
  font-size:2em;
  margin:0% 1%;
}

.fa-linkedin {
  transition: all 0.3s;
  color: #0e76a8;
}

.fa-briefcase {
  transition: all 0.3s;
  color: #0833a2;
}

.fa-linkedin:hover{
  color: white;
}

.fa-briefcase:hover{
  color: white;
}

@media (max-width:730px){

  .footer{
    text-align:center;
    padding:5%;
  }

  .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:center;
  }

  .footer .row a i{
    margin:0% 3%;
  }

  .contact-map {
    width: 350px;
  }
}

@media (max-width:380px) {
  .contact-map {
    width: 300px;
  }
}

/* ==== END FOOTER ==== */