@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

:root {
  --pink-soft-color: #FFE6E6;
  --pink-hard-color: #F2D1D1;
  --blue-soft-color: #DAEAF1;
  --blue-hard-color: #B8E8FC;
  --white-color: #f1f1f1;
  --font-resalt: 'Caveat', cursive;
}


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--white-color);
} 

/*====== NAVBAR ======*/
header {
  width: 100%;
  height: 80px;
  background-color: var(--pink-hard-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.logo-name {
  font-size: 20px;
  font-weight: bold;
}

.icon-bars {
  display: none;
  font-size: 25px;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: black;
  font-size: 15px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  background-color: var(--blue-soft-color);
}

.nav-bar ul li a.active {
  background-color: var(--blue-soft-color);
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 900px) {
  .icon-bars {
    display: block;
    cursor: pointer;
  }

  .nav-bar {
    height: 0px;
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    width: 100vw;
    background: var(--blue-hard-color);
    overflow: hidden;
    transition: 0.5s;
  }

  .nav-bar.active {
    height: 450px;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar ul li a {
    margin-bottom: 10%;
  }
  
  .nav-bar ul li a.active {
    background-color: var(--pink-soft-color);
  }

  .nav-bar ul li a:hover {
    background-color: var(--pink-soft-color);
  }

}
/*====== END NAVBAR ======*/

#home {
  height: 100vh;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
